:root {
    --body-bg-color: #2e2e2e;
    --purple: #2fc4e4;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--body-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    color: var(--white);

    font-size: 16px;
}

img {
    border-radius: 50%;
}

.nome-perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0 33px 0;
    margin-top: 1rem;
}

.nome-perfil strong {
    font-size: 1.3rem;
}

.nome-perfil span {
    color: rgb(166, 166, 166);
}

.borda-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;

}


.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    height: 50px;
    width: 320px;

    display: flex;

    justify-content: center;
    align-items: center;

    background: transparent;
    border: 2px solid var(--white);
    border-radius: 8px;
    color: var(--white);

    font-weight: 600;
    text-transform: uppercase;

    text-decoration: none;

    transition: border-color .2s, color .2s;
}

.link:hover {
    border-color: var(--purple);
    color: var(--purple);

}

.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 68px;

    width: 230px;
    gap: 1rem;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    border-radius: 4px;

    transition: background-color .2s;
}

.footer a svg path {
    stroke: white;
}

.footer a:hover {
    background-color: #2fc4e4;
}